@media screen and (max-width: 767px) {
  div.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100vw;
  }

  div.logo {
    font-size: 1.5rem;
  }

  ul.nav-links {
    flex-direction: column;
  }

  ul li {
    margin: 0;
    font-size: 1rem;
  }

  ul li a {
    display: block;
  }

  div.hero-section {
    padding: 5rem;
  }

  div.hero-background {
    padding: 4rem;
  }

  div.background {
    padding: 1rem;
    width: 100vw;
    height: 50vh;
  }

  div.hero-background-pos {
    display: none;
  }

  div.snapshot-team {
    padding-top: 1rem;
  }

  div.snapshot-box-content {
    display: flex;
    flex-wrap: wrap;
  }

  div.footer {
    width: 100vw;
    padding: 2rem;
  }

  div.footer-input {
    display: block;
    padding-top: 2rem;
  }

  input[type="text"] {
    margin: 1rem, 2rem;
    padding: 1rem;
    width: 100%;
  }

  input[type="email"] {
    margin: 1rem, 2rem;
    padding: 1rem;
    width: 100%;
  }

  div.footer-textarea {
    display: block;
    padding-top: 2rem;
  }

  textarea {
    margin: 1rem, 2rem;
    padding: 1rem;
    width: 100%;
  }
}
